cvxpy
cchardet
pillow
colorama
open-clip-torch
transformers
shapely
sentence-transformers
prior
procthor
objaverse
rtree
scipy
moviepy
numpy
openai==0.27.6
langchain==0.0.171
torch==1.13.1
torchvision==0.14.1
gurobipy==10.0.3
Werkzeug==2.0.1
Flask==2.0.1
compress-pickle
compress-json
black
objathor
editdistance
